<%- include('partials/header', { title: title }) %>
<section class="content-section home">
<!--  <h3>At Sicher Shield Consultancy, we leverage advanced technology and industry expertise to protect your digital assets, enhance operational efficiency, and ensure your business resilience.</h3> -->
  <h3 class="core-services-heading">Our Core Services</h3>
  <div class="services-slider">
    <div class="slider-track">
      <!-- First set of service boxes -->
      <div class="service-box">
        <img src="/images/icon-cybersecurity.png" alt="Cybersecurity Icon" class="service-icon">
        <h4>Cybersecurity</h4>
        <p>Advanced protection strategies to secure your organization's digital landscape.</p>
      </div>
      <div class="service-box">
        <img src="/images/icon-endpoint.png" alt="Endpoint Support Icon" class="service-icon">
        <h4>Endpoint Support</h4>
        <p>Comprehensive management and support to maintain and optimize endpoint devices.</p>
      </div>
      <div class="service-box">
        <img src="/images/icon-rasp.png" alt="RASP Icon" class="service-icon">
        <h4>RASP</h4>
        <p>Security technology embedded directly within an application to detect and block attacks in real time</p>
      </div>
      <div class="service-box">
        <img src="/images/icon-performance.png" alt="Performance Testing Icon" class="service-icon">
        <h4>Performance Testing</h4>
        <p>Robust testing to ensure reliability, scalability, and speed of your software solutions.</p>
      </div>
      
      <!-- Duplicate the set for continuous scrolling -->
      <div class="service-box">
        <img src="/images/icon-cybersecurity.png" alt="Cybersecurity Icon" class="service-icon">
        <h4>Cybersecurity</h4>
        <p>Advanced protection strategies to secure your organization's digital landscape.</p>
      </div>
      <div class="service-box">
        <img src="/images/icon-endpoint.png" alt="Endpoint Support Icon" class="service-icon">
        <h4>Endpoint Support</h4>
        <p>Comprehensive management and support to maintain and optimize endpoint devices.</p>
      </div>
      <div class="service-box">
        <img src="/images/icon-rasp.png" alt="RASP Icon" class="service-icon">
        <h4>RASP</h4>
        <p>Security technology embedded directly within an application to detect and block attacks in real time</p>
      </div>
      <div class="service-box">
        <img src="/images/icon-performance.png" alt="Performance Testing Icon" class="service-icon">
        <h4>Performance Testing</h4>
        <p>Robust testing to ensure reliability, scalability, and speed of your software solutions.</p>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
